* {
   padding: 0px;
   margin: 0px;
}



.libre-franklin {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.game-container {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 50px;
}


.computer-container,
.player-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   font-size: 1.3rem;
}

#message {
   text-align: center;
   margin-top: 100px;
   font-size: 1.3rem;
}